[DB]
save_to_db=False
host=127.0.0.1
db=db_name
user=db_user
password=db_pass
type_vinyl=1
type_cd=13
picture_default_url=http://sharez.basshero.org/img/white-label.jpg

[Local]
browser_command=firefox
output_path_audio=/home/jaywink/Music/processed/

[Discogs]
token=set_this_to_search
